table {
    border: 0.1em solid black;
    border-collapse: collapse;
    width: 95;
    margin-left: 2.5%;
    background-color: rgb(142, 125, 125);
}

table caption {
    border: 0.1em solid black;
    font-size: 1.5em;
    background-color: rgb(142, 125, 125);
}

caption input {
    text-align: right; /*This puts our 0 on the right,*/
}

th, td {
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}

input{
    width: 95%;
    height: 2.5m;
    font-size: 2em;
}
